{% extends '../base.usuarios.html' %}

{% block usuario %}






































<div class="container-fluid">
    <div class="text-center">
        <h2>{{ usuario.unidad.nombre }}</h2>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Nombre completo</th>
                <th>Oficina</th>
                <th>Fecha</th>

                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for pedido in data %}
            <tr>
                <td>{{ pedido.material.codigo }}</td>
                <td>{{ pedido.usuario.persona.nombre }} {{ pedido.usuario.persona.apellidos }}</td>
                <td>{{ pedido.usuario.oficina.nombre }}</td>



                <td>{{ pedido.fecha_pedido|date:"m/d/y" }}</td>

                <td>
                    <a class="btn btn-success btn-sm" href="{% url 'pedido_numero' pedido.numero_pedido %}">Ver
                        pedidos</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include 'paginador/paginador.html' %}
</div>


<!-- Modal HTML -->
<!-- Modal HTML -->
<div class="modal fade" id="responseModal" tabindex="-1" aria-labelledby="responseModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="responseModalLabel">Notification</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modalBody">
                <!-- Aquí se insertará el contenido del mensaje -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


{% endblock usuario %}